
    <%= render "partials/nav" %>
    
    <section class="body">

    <div class="add-btn">
      <%= link_to 'recipes/new', :remote => true do %>
      <input type="button" class="btn btn-primary" value="Add Recipe">
      <% end %>
    </div>

      <% @recipes.each do |recipe| %>
        <div class= "recipe-border">
          <div>
          
           <%= link_to recipe_path(recipe.id), :remote => true do %>
            <h2><%=recipe.name%></h2>
            <% end %>
            <%= button_to "Delete", recipe_path(recipe.id), html: {'data-turbo' => "false"}, :method => :delete, class: "btn btn-warning" %>
          </div>
          <h3><%=recipe.description%></h3>
        </div>
        
      <% end %>
