<h2 class="heading">Add Food</h2>
<div>

<%= form_with model: @recipes, url:recipes_path, scope: :recipe, method: :post, data: { turbo: false }, class: "form" do |f| %>
    <div class="form-div" >
    <%= f.hidden_field :user_id%>

    <div class="mb-3 col-sm-8">
    <%= f.label :name, class:"form-label" %><br>
    <%= f.text_field :name, class:"form-control",  required: true, id:"name", placeholder: 'Italian recipe'%><br>
    </div>

    <div class="mb-3 col-sm-8">
    <%= f.label :description, class:"form-label" %><br>
    <%= f.text_field :description,  class:"form-control" , required: true, id:"measurement",  placeholder: 'Very sweet and also nutritious'%><br>
    </div>
    <div class="mb-3 col-sm-8">
      <%= f.label :preparationTime, class:"form-label" %><br>
      <%= f.number_field :preparationTime,  class:"form-control" , required: true, id:"price", placeholder: '20:00 pm'%><br>
      </div>

    <div class="mb-3 col-sm-8">
    <%= f.label :cookingTime, class:"form-label" %><br>
    <%= f.number_field :cookingTime ,  class:"form-control" , required: true, id:"price", placeholder: '20:00 pm'%><br>
    </div>

    <div class="mb-3 col-sm-2">
    <%= f.submit "Create Recipe", class:"btn btn-primary form-control" %>
    </div>
    </div>
<%end%>
<div class="form-div" >
  <div class="mb-3 col-sm-2">
        <%=link_to 'Back', recipes_path, class:"btn btn-primary form-control"%>
  </div>
</div>
</div>