

<div class="add-btn">
        <%= link_to 'foods/new', :remote => true do %>
          <input type="button" class="btn btn-primary" value="Add Food">
        <% end %>
</div>

 <table>
        <tr>
          <th>Food</th>
          <th>Measurement Unit</th>
          <th>Unit Price</th>
          <th>Action</th>
        </tr>

        <% @foods.each do |food| %>
       
          <tr>
            <td><%=food.name%></td>
            <td><%=food.measurement_unit%></td>
            <td><%=food.price%>$</td>
           
            <td>
            <% if can? :destroy, food %>
           
               <%= button_to "Delete", food_path(food.id), html: {'data-turbo' => "true"}, method: :delete, class: "btn btn-warning" %>
               <% end %>
            </td>
             
          </tr>
          
          <% end %>
       

        </table>
